.content-card{
    padding: 20px;
    margin: 16px;
    text-align: center;
    border: 2px solid black;
    background-color: rgb(219, 219, 219);
    display: block;
}

header{
    font-size: 30px;
    padding: 10px;
}